<div class="flex items-center mb-2">
  <%= link_to "javascript:history.back()", class: "border rounded p-2 mr-2 ml-2 md:ml-0 md:mr-4 hover:bg-gray-50" do%>
  <%= image_tag("icons/ArrowLeftMinor.svg", class: "h-4 md:h-6")%>

  <%end %>
    <h1 class="text-xl md:text-3xl"><%= title %></h1>

</div>
<h2 class="mx-2 mb-2 text-sm md:text-lg text-gray-600"><%= subtitle %></h2>