<section class="fixed w-full right-0 flex items-center justify-center left-0 bottom-0">
  <div data-controller="toast"
    class="flex items-center justify-center transition-all duration-200 ease-in-out bg-gray-900 text-white shadow-lg p-4 mx-2 mb-8 -mb-20 rounded-lg">
    <span data-toast-target="content"></span>
    <button data-action="toast#hide"
      class="ml-2"><%= image_tag("icons/MobileCancelMajor.svg", class: "h-4 fill-current text-white")%></button>
  </div>
</section>