<%= title_with_action_button @store.name, "Modificar datos", edit_store_path(@store)%>

<div class="card">

  <label class="text-sm text-gray-600">Teléfono de contacto</label>
  <p class="text-xl"><%= phone_formatter(@store.phone_number) %></p>
  <label class="text-sm text-gray-600">Correo electrónico de contacto</label>
  <p class="text-xl"><%= @store.email %></p>
  <label class="text-sm text-gray-600">Enlace</label>
  <p class="text-xl"><%= URI.join(root_url, @store.slug).to_s %></p>
</div>