<div class="pt-32 px-16">
  <div class="flex items-center justify-between">
    <h1 class="text-3xl mb-4">Jornadas</h1>
    <div>
      <%= link_to "Agregar una jornada", new_workday_path %>
    </div>
  </div>
</div>