<%= title_with_back_button "Crear una jornada" %>

<div class="card md:w-96">
  <%= simple_form_for @workday do |f| %>

  <%= f.input :work_date, as: :date, html5: true, input_html: { class: "w-full"}  %>

  <%= f.submit type: :submit, class: "px-4 py-2 rounded-md bg-yellow-500 text-white cursor-pointer" %>
  <% end %>
</div>